<div class="container">
    <h3><strong >Listado de Noticias:</strong ></h3>
    <div class="form-group">
        <ul>
            <li *ngFor="let not of listaNot">
                <label>Noticia ->  </label>
                <input class="form-control" type="text" [(ngModel)]="not.id"/>
                <input type="text" [(ngModel)]="not.titular"/>
                <input type="text" [(ngModel)]="not.cabecera"/>
                <input type="text" [(ngModel)]="not.fecha"/>
                <input type="text" [(ngModel)]="not.idTemaRef" placeholder="Tema Referencia"/>
                <input class="btn btn-primary" type="button" value="Modificar" (click) = "modificarNoticia(not.id, not)"/>
                <input class="btn btn-danger" type="button" value="Eliminar" (click) = "eliminarNoticia(not.id)"/>
            </li>
        </ul>
    </div>
</div>


