<p>registro-noticia works!</p>

<input type="text" [(ngModel)]="noticia.nombre" value="" placeholder="Nombre por Defecto"/><br><br>
<input type="email" [(ngModel)]="noticia.email" value="" placeholder="Email"/><br><br>
<input type="password" [(ngModel)]="noticia.password" value="" placeholder="Password"/><br><br>
<input type="button" value="Enviar Datos" (click) = "enviarDatos()"/><br><br>
<div *ngIf="!estaRegistrada">Aún no se ha registrado</div>
<div *ngIf="estaRegistrada">Ya se ha registrado : ID: {{noticia.id}}</div>

<input type="text" [(ngModel)]="variable"/>
<input type="button" value="Boton" (click) = "pulsar()"/>
