<nav>
    <br>
    <ul>
        <li>
            <button type="button" routerLink="/registro">Registrar usuario</button> &nbsp;
        </li>
    </ul>
    <ul>
        <li>
            <button type="button" routerLink="/listarTodos">Listar usuarios</button> &nbsp;
        </li>
    </ul>
    <ul>
        <li>
            <button type="button" routerLink="">Registrar tema</button> &nbsp;
        </li>
    </ul>
    <ul>
        <li>
            <button type="button" routerLink="">Listar temas</button> &nbsp;
        </li>
    </ul>
</nav>